<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="dismiss()" defaultHref="tabs/tab2"></ion-back-button>
  </ion-buttons>
    <ion-title>Enter Your Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ng-container>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label>Your Full Name :</ion-label>

        <ion-input [(ngModel)]="usersDetails.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Age :</ion-label>
        <ion-input [(ngModel)]="usersDetails.age"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Address :</ion-label>
        <ion-input [(ngModel)]="usersDetails.address"></ion-input>
      </ion-item> 
      <ion-item>
        <ion-label>Upload Documents :</ion-label>
    </ion-item>
    <ng-container>
      <ion-item *ngFor="let document of service.documents; let i = index">{{i+1}}. {{document}}</ion-item>
    </ng-container>
    </ion-list>

    <ion-button (click)="save()">Save</ion-button>
  </ion-card>
</ng-container>
</ion-content>
