<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="credentials" (ngSubmit)="login()">
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Email is Invalid</ion-note>
    </ion-item>
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Password min length 6 characters</ion-note>
    </ion-item>
      


    <ion-button expand="full" [disabled]="!credentials.valid" type="submit">Login</ion-button>
    <ion-button expand="full" type="button" (click)="register()">Register</ion-button>

  </form>
</ion-content>
