<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="refreshView('tab1')">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="refreshView('tab2')">
      <ion-icon name="bag-add-outline"></ion-icon>
      <ion-label>Book Service</ion-label>
    </ion-tab-button>

    <ion-tab-button  (click)="refreshView('tab3')">
      <ion-icon name="podium-outline"></ion-icon>
      <ion-label>Status</ion-label>
    </ion-tab-button>
    <ion-tab-button  (click)="refreshView('tab4')">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>My Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
