<ion-header class="ion-no-border">
  <ion-item lines="none" style="text-align: center;">
    <ion-title style="color: white;">
      Digital Seva
    </ion-title>
   <!-- <ion-button fill="clear" slot="start" color="light">
     <ion-icon slot="icon-only" name="menu"></ion-icon>
   </ion-button> -->
    <!-- <ion-avatar slot="end">
      <img src="assets/icons/4.png" />
    </ion-avatar> -->
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <div class="main-header"></div>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-label>
          <ion-note color="light" class="ion-margin-start">
            WELCOME 
          </ion-note>
          <p>
            <ion-chip color="light">
              <ion-label class="ion-text-wrap" >
               {{this.dataService.getUserName(this.auth.currentUser.email)}}
              </ion-label>
            </ion-chip>
          </p>
        </ion-label>
      </ion-col>
      <ion-col size="6" class="ion-text-end">
        <ion-button color="light" size="small" (click)="openServices()">
          <ion-text color="primary">Book Now</ion-text>
          <ion-icon name="add" color="primary" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-horizontal ion-margin-top">
      <ion-col>
        <ion-label color="light">
          <b>Latest Govt. Services :</b>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-horizontal">
      <ion-col *ngFor="let item of features" size="6">
        <ion-card class="ion-text-center">
          <ion-card-header>
            <div align="center">
              <ion-thumbnail [style.background]="item?.background">
                <img [src]="item?.src" />
              </ion-thumbnail>
            </div>
          </ion-card-header>
          <ion-card-content>
            <ion-label color="dark">{{ item?.name }}</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-list>
      <ion-list-header>
        <ion-label>RECENT Bookings</ion-label>
      </ion-list-header>
      <ion-item lines="none" *ngFor="let item of allbookings">
        <ion-icon slot="start" name="cash" color="primary"></ion-icon>
        <ion-label size="large" class="ion-text-wrap">
          <b>{{item.name}}</b>
          
          <h5>
            {{item.status}}
          </h5>
        </ion-label>
        <ion-text slot="end" [color]="item?.amount > 0 ? 'success' : 'danger'">Charges ₹{{item.charges}}</ion-text>
      </ion-item>
    </ion-list>
  </ion-grid>
 
</ion-content>
