<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bookings Status
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bookings Status</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
     <ion-item *ngFor="let booking of bookings">
          <ion-label>
                <h3>Service: {{booking.name}}</h3>
                <h6>Charges: {{booking.charges}}</h6>
                <!-- <p></p> -->
          </ion-label>
          <ion-button color="primary">{{booking.status}}</ion-button>
     </ion-item>
  </ion-list>

  
</ion-content>
