<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bookings Status
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bookings Status</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-grid>
  <ion-list>
    <ion-list-header>
      <ion-label>All Bookings</ion-label>
    </ion-list-header>
    <ion-item lines="none"  *ngFor="let booking of bookings">
      <ion-icon slot="start" name="cash" color="primary"></ion-icon>
      <ion-label size="large" class="ion-text-wrap">
        <b>Service: {{booking.name}}</b>
        
        <h5>
          Charges: {{booking.charges}}
        </h5>
      </ion-label>
      <ion-text slot="end" [color]="item?.amount > 0 ? 'success' : 'danger'">Status : {{booking.status}}</ion-text>
    </ion-item>
  </ion-list>
</ion-grid>
  
</ion-content>
